{% extends 'base.html' %}
{% from 'macros.html' import func %}

{% block title %}主页{% endblock %}

{% block styles %}
{#   <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css' ) }}">#}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='home.css' ) }}">
{% endblock %}

{% block content %}
     <div class="leftbar">

        <div class="submit_ques">
            <form method="post">
				<!-- 表单域 -->
                <div class="form_container">
                    {{ form.csrf_token }}
                    <div class="form_group">
                        {{ form.title.label}}<br>
                        {{ form.title ( class='form_control' )}}<br><!-- 问题标题 -->
                    </div>
                    <div class="form_group">
                        {{ form.description.label }}
                        {{ form.description(class='form_control description')}}<br> <!-- 问题描述 -->
                    </div>
                        {{ form.submit(class='btn') }}<br>  <!-- 发布问题按钮 -->

                </div>
			</form>
        </div>

			<!-- 问题显示区 -->
        <div class="ques_container">
            {% for context in contexts %}
                <div class="ques">
                    <a href="{{ url_for('front.qna') }}">{{ context.outlines }}</a>
                </div>
            {% endfor %}
            <a href="{{ url_for('front.qna') }}">输出问题标题</a>
			</div>

		</div>

		<div class="col-sm-4 sidebar">
			{% include 'front/_sidebar.html' %}
		</div>

{% endblock %}