nav {
    width: 1000px;
    margin: auto;
}

.container {
    width: 800px;
    height: 450px;
    background-color: #eee;
}

.page-header {
    margin: 0;
    text-align: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.form_container {
    width: 60%;
    margin: 0 auto;
    /*padding-left: 200px;*/
}
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;

}

.btn{
    float: right;
    background-color: #b8daff;
}