nav {
    width: 1000px;
    margin: auto;
}

.container {
    width: 800px;
    height: 480px;
    background-color: #eee;
}

hr {
    background-color: white;
}
.page-header {
    margin: 0;
    text-align: center;
}

.row {
    margin-left: 0;
    margin-right: 0;
}
.col-md-4 {
    width: 60%;
    margin-left: 120px;
}
.card-header {
    text-align: center;
    line-height: 50px;
}


.btn {
    margin-right: 0;
}
footer {
    font-size: 13px;
    color: #888;
    border-top: 1px solid #eee;
    margin-top: 25px;
    text-align: center;
    padding: 10px;

}